<div class="boxLogin">
    <!-- <form> -->
        <div class="form-group">
            <label for="emailLogin">Email</label>
            <input type="email" class="form-control" placeholder="Enter email"
                [(ngModel)]="loginInfo.login">
        </div>
        <div class="form-group">
            <label for="passwordLogin">Password</label>
            <input type="password" class="form-control" placeholder="Password"
                [(ngModel)]="loginInfo.password">
        </div>
        <button (click)="loginForm()" class="btn btn-primary">Submit</button>
      <!-- </form> -->
</div>