.boxMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(100vh*.05);
    overflow-y: auto;
}
.contentSingle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentSingleTitle{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}